<!DOCTYPE html>
<html>
<head>
  <title>Movie Database Website</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<header class="container">
    <h2>Movie Information Database</h2>
    <nav class="tabs">
        <a class="tab" href="/">Movies</a> 
        <a class="tab" href="actors.hbs">Actors</a> 
        <a class="tab" href="directors.hbs">Directors</a> 
        <a class="tab" href="genres.hbs">Genres</a> 
        <a class="tab" href="movies_actors.hbs">Movie Actors</a>
        <a class="tab" href="movies_genres.hbs">Movie Genres</a>
    </nav>
</header>

<body>
  <table id="movies-table">
      <thead>
          <tr>
              <th id="delete-button">DELETE</th>
              <th>Movie Title</th>
              <th>Production Cost</th>
              <th>Gross Revenue</th>
              <th>Release Date</th>
              <th>Director</th>
          </tr>
      </thead>
      <tbody id="movies-table-body">

          {{#each data}}
          <tr data-value={{this.movieID}}>
              <td><button onclick="deleteMovie({{this.movieID}})">Delete</button></td>
              <td>{{this.title}}</td>
              <td>{{this.productionCost}}</td>
              <td>{{this.grossRevenue}}</td>
              <td>{{this.releaseDate}}</td>
              <td>{{this.directorID}}</td>            
          </tr>
          {{/each}}
      </tbody>
  </table>


<h2>Add a New Movie</h2>
<p>Please add a Movie's information below and submit!</p>
<form id="add-movie-form-ajax">
    <label for="input-title">Title: </label>
    <input type="text" name="input-title" id="input-title" required>
    
    <label for="input-productionCost">Production Cost: </label>
    <input type="number" name="input-productionCost" id="input-productionCost" required>

    <label for="input-grossRevenue">Gross Revenue: </label>
    <input type="number" name="input-grossRevenue" id="input-grossRevenue" required>

    <label for="input-releaseDate">Release Date: </label>
    <input type="date" name="input-releaseDate" id="input-releaseDate" required>

    <label for="input-director">Director: </label>
    <select name="input-director" id="input-director">
        <option value="">Please Select a Director</option>
        {{#each directors}}
            <option value="{{this.directorID}}">{{this.name}}</option>
        {{/each}}
        <option value="">Other</option>
    </select>

    <input type="submit">
    <input type="reset">
</form>


<h2>Movie Search</h2>
<form id="search-movie-html" method='GET' action='/'>
    <label for="input-title">Search by Title: </label>
    <input type="text" name="search" id="input--html-search" required>

    <input type="submit">
    <a href='/'><button>Reset</button></a>
</form>

<h2>Update a Movie</h2>
<form id="update-movie-form">
    <label for="update-movie-title">Title: </label>
    <select onchange="updateMovie()" name="update-movie-title" id="update-movie-title">
        <option value="">Select a Title</option>
        {{#each data}}
            <option value="{{this.movieID}}">{{this.title}}</option>
        {{/each}}
    </select>

    <label for="update-movie-director">New Director:</label>
    <select name="update-movie-director" id="update-movie-director" required>
        <option value="">Select a Director</option>
        {{#each directors}}
            <option value="{{this.directorID}}">{{this.name}}</option>
        {{/each}}
    </select>

    <input type="submit">
    <input type="reset">
</form>


<script src="./js/add_movie.js"></script>
<script src="./js/delete_movie.js"></script>
<script src="./js/update_movie.js"></script>

</body>
</html>
