<!DOCTYPE html>
<html>
<head>
  <title>Movie Database Website</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<header class="container">
    <h2>Movie Information Database</h2>
    <nav class="tabs">
        <a class="tab" href="/">Movies</a> 
        <a class="tab" href="actors.hbs">Actors</a> 
        <a class="tab" href="directors.hbs">Directors</a> 
        <a class="tab" href="genres.hbs">Genres</a> 
        <a class="tab" href="movies_actors.hbs">Movie Actors</a>
        <a class="tab" href="movies_genres.hbs">Movie Genres</a>
    </nav>
</header>

<body>
  <table id="movies_genres-table">
      <thead>
          <tr>
              <th id="delete-button">DELETE</th>
              <th>Movie ID</th>
              <th>Genre ID</th>
          </tr>
      </thead>
      <tbody>

          {{#each data}}
              <tr movie-value ={{this.movieID}}  genre-value ={{this.genreID}}>
              <td><button onclick="deleteMovieGenre({{this.movieID}},{{this.genreID}})">Delete</button></td>
              <td>{{this.movieID}}</td>
              <td>{{this.genreID}}</td>
          </tr>
          {{/each}}
      </tbody>
  </table>
  
 <h2>Add a New Movie and Genre Relationship</h2>
<p>Please add a new Movie ID, and Genre ID relationship below and submit!</p>
<form id="add-movie_genre-form-ajax">
    
    <label for="input-movieTitle">Movie Title: </label>
    <select name="input-movieTitle" id="input-movieTitle">
        <option value="">Please Select a Movie</option>
        {{#each movies}}
            <option value="{{this.movieID}}">{{this.title}}</option>
        {{/each}}
        <option value="">Other</option>
    </select>

    <label for="input-genreName">Genre Name: </label>
    <select name="input-genreName" id="input-genreName">
        <option value="">Please Select an Genre</option>
        {{#each genres}}
            <option value="{{this.genreID}}">{{this.name}}</option>
        {{/each}}
        <option value="">Other</option>
    </select>

    <input type="submit">
</form>

<h2>Genre Search</h2>
<form id="search-movie_genre-html" method='GET' action='/movies_genres.hbs'>
    <label for="search-movie_genre-id">Search by Genre ID: </label>
    <input type="number" name="search" id="search-movie_genre-id">
    <input type="submit">
</form>

<h2>Update Genre Movie Relationship</h2>
<form id="update-movie_genre-form-ajax">
    <label for="update-movie_genre-movieID">MovieID: </label>
    <select name="update-movie_genre-movieID" id="update-movie_genre-movieID">
        <option value="">Select a MovieID</option>
        {{#each movies}}
        <option value="{{this.movieID}}">{{this.movieID}}</option>
        {{/each}}
    </select>
    <label for="update-input-movie_genre-genreID"> Current genreID: </label>
    <select name="update-input-movie_genre-genreID" id="update-input-movie_genre-genreID">
        <option value="">Select a GenreID</option>
        {{#each genres}}
        <option value="{{this.genreID}}">{{this.genreID}}</option>
        {{/each}}
    </select>

    <label for="update-output-movie_genre-genreID"> New Genre Name: </label>
    <select name="update-output-movie_genre-genreID" id="update-output-movie_genre-genreID">
        <option value="">Select a Genre Name</option>
        {{#each genres}}
        <option value="{{this.genreID}}">{{this.name}}</option>
        {{/each}}
    </select>

    <input type="submit">
</form>

<script src="./js/add_movie_genre.js"></script>
<script src="./js/delete_movie_genre.js"></script>
<script src="./js/update_movie_genre.js"></script>


</body>
</html>
